<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home</title>
		<link rel="stylesheet" href="../static/styles.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/webjars/sockjs-client/sockjs.min.js"></script>
		<script src="/webjars/stomp-websocket/stomp.min.js"></script>
		<script	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
		<script	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
		<script type="text/javascript">
		
			var stompClient;

            function makeDeposit() {
				var playerId = document.getElementById("playerIdInput").value;
				var deposit = document.getElementById("depositAmount").value;

				if(playerId != null && deposit != null && !isNaN(playerId) && !isNaN(deposit)){
					var text = '{"playerId": "'+playerId+'", "deposit": "'+deposit+'", "timestamp": "'+new Date()+'"}';
    	            stompClient.send("/request/makeDeposit", {priority: 1}, text);
				} else {
					alert("Please make sure you have typed the numeric values to 'Player Id' and 'Deposit Amount', then please try again.");
				}

				document.getElementById("playerIdInput").value = "";			
				document.getElementById("depositAmount").value = "";
            }

            function requestDepositsAndTotal(){
                stompClient.send("/request/getDepositsList", {priority: 1});
            }

            function requestDepositsAndTotalForPlayer(){
				var playerId = document.getElementById("players-filter").value;
				if(playerId != null && !isNaN(playerId)){
					stompClient.send("/request/getDeposits/player", {priority: 1}, playerId);
				} else {
					alert("Please make sure you have chosen the Player Id, then please try again.");
				}
            }

			$(document).ready(function() {

				var socket = new SockJS('/connection');
				stompClient = Stomp.over(socket);
				stompClient.connect({}, function(frame) {
					
					stompClient.subscribe('/topic/deposit.event', function(response) {
                        console.log("Incoming message from topic 'deposit.event' : \n"+response.body);
						var json = JSON.parse(response.body);
						
						if(json.type=="all"){
							console.log("type ALL");
							$('#total').text(json.total);
							updateAllDepositsHTML(json);

						} else if (json.type == "player") {
							console.log("type PLAYER");
							updateDepositsForPlayerHTML(json);

						} else if (json.type == "new") {
							console.log("type NEW");
							$('#total').text(json.total);
							updateAllDepositsHTML(json);

						}

					});
					
					requestDepositsAndTotal();
				});

			}, error_callback);

			var error_callback = function(error) {
				console.log("disconnection status handling");
				// display the error's message header:
				var connStatus = document.getElementById("connectionStatus").textContent = "Disconnected";
				connStatus.setAttribute("style", "color: red;");
			};


			function updateAllDepositsHTML(json){
				var playersList = document.getElementById("players-filter");
				var allDepositsList = document.getElementById("allDepositsList");
				playersList.innerHTML = "";
				allDepositsList.innerHTML = "";

				var players  = [];

				var depositsTotal = document.createElement("h4");
				depositsTotal.textContent = "Total : "+json.total;
				allDepositsList.appendChild(depositsTotal);

				for(var i = 0 ; i < json.depositEvents.length ; i++){

					if(!players.includes(json.depositEvents[i].playerId)){
						console.log("Deposit Event : "+json.depositEvents[i].playerId);
						var option = document.createElement("option");
						option.textContent = json.depositEvents[i].playerId;
						option.setAttribute("value", json.depositEvents[i].playerId);
						playersList.appendChild(option);
						players.push(json.depositEvents[i].playerId);
					}
					
					var li = document.createElement("li");
					li.textContent = "Player Id: "+json.depositEvents[i].playerId + ", Amount: "+json.depositEvents[i].deposit+", Timestamp: "+json.depositEvents[i].timestamp+".";
					allDepositsList.appendChild(li);
					
				}
			}

			function updateDepositsForPlayerHTML(json){
				var playerDepositsList = document.getElementById("playerDepositsList");
				playerDepositsList.innerHTML = "";

				var playerTotal = document.createElement("h4");
				playerTotal.textContent = "Total : "+json.total;
				playerDepositsList.appendChild(playerTotal);

				for(var i = 0 ; i < json.depositEvents.length ; i++){
					var li = document.createElement("li");
					li.textContent = "Amount: "+json.depositEvents[i].deposit+", Timestamp: "+json.depositEvents[i].timestamp+".";
					playerDepositsList.appendChild(li);
				}
			}
			
		</script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-inverse" style="background-color: #343a40 !important;">
				<div class="container-fluid">
					<div class="navbar-header" style="display: flex; flex-direction: row"> 
						<!-- <h2 style="text-decoration: none; color: rgb(162, 162, 162);">Playtech</h2> -->
						<img src="https://www.casinoreviewer.org/wp-content/uploads/2017/04/playtech-550-x-225.jpg" class="logo-img" style="width:30%; height: 80%;"/>
					</div>
	
					<ul class="nav navbar-nav navbar-right">
						<li style="color:whitesmoke" id="connectionStatus"></li>
					</ul>
				</div>
			</nav>
			<div class="jumbotron">
				<h1>Player Deposit Bookeeper App</h1>      
				<p>Bookkepper Notes</p>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="jumbotron" style="min-height: 50vh; max-height: 50vh;">
						<div class="columnHeaderDiv">
							<h3 class="columnHeader">All Deposits</h3>
						</div>
						<div class="depositList" id="allDepositsList" style="overflow-y:auto; max-height: 35vh;">
							
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="jumbotron" style="min-height: 50vh; max-height: 50vh;">
						<div class="columnHeaderDiv">
							<h3 class="columnHeader">
								Player 
								<span>
									<select id="players-filter" class="filterSt"> 
										<option value="">id</option>
									</select>
								</span> 
								Deposits
							</h3>
							<button onclick="requestDepositsAndTotalForPlayer()">Retreive</button>
						</div>
						<div class="depositList" id="playerDepositsList" style="overflow-y:auto; max-height:30vh; margin-top: 15px;">
							
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="jumbotron" style="min-height: 50vh; max-height: 50vh;">
						<div class="columnHeaderDiv">
							<h3 class="columnHeader">Make Deposit</h3>
						</div>
						<div class="depositList">
							<input type="text" placeholder="Player Id" id="playerIdInput"/>
							<input type="text" placeholder="Deposit Amount" id="depositAmount"/>
							<button onclick="makeDeposit()" id="submitDeposit">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>