<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script type="text/javascript">

		var stompClient;

		$(document).ready(function () {

			var socket = new SockJS('/connection');
			stompClient = Stomp.over(socket);
			stompClient.connect({}, function (frame) {

				connection_callback();

				stompClient.subscribe('/topic/deposit.event', function (response) {
					var json = JSON.parse(response.body);

					if (json.type == "all") {
						console.log("Message type: ALL");
						$('#total').text(json.total);
						updateAllDepositsHTML(json);

					} else if (json.type == "player") {
						console.log("Message type: PLAYER");
						updateDepositsForPlayerHTML(json);

					} else if (json.type == "new") {
						console.log("Message type: NEW");
						$('#total').text(json.total);
						updateAllDepositsHTML(json);
					}
				});

				requestDepositsAndTotal();
			}, function (){
				// display the error's message header:
				document.getElementById("connectionStatus").textContent = "Disconnected";
				document.getElementById("connectionStatus").setAttribute("style", "color: red; padding: 20px;");
			});

		});

		var connection_callback = function (error) {
			document.getElementById("connectionStatus").textContent = "Connected";
			document.getElementById("connectionStatus").setAttribute("style", "color: green; padding: 20px;");
		};


		function makeDeposit() {
			var playerId = document.getElementById("playerIdInput").value;
			var deposit = document.getElementById("depositAmount").value;

			if (playerId != null && deposit != null && !isNaN(playerId) && !isNaN(deposit) && playerId != '' && deposit != '') {
				var d = new Date();
				
				var text = '{"playerId": "' + playerId + '", "deposit": "' + deposit + '", "timestamp": "'+d.getHours()+':'+d.getMinutes()+', '+d.getDate()+'/'+d.getMonth()+'/'+d.getFullYear()+'"}';
				stompClient.send("/request/makeDeposit", { priority: 1 }, text);
			} else {
				alert("Please make sure you have typed the numeric values to 'Player Id' and 'Deposit Amount', then please try again.");
			}

			document.getElementById("playerIdInput").value = "";
			document.getElementById("depositAmount").value = "";
		}

		function requestDepositsAndTotal() {
			stompClient.send("/request/getDepositsList", { priority: 1 });
		}

		function requestDepositsAndTotalForPlayer() {
			var playerId = document.getElementById("players-filter").value;
			if (playerId != null && !isNaN(playerId)) {
				stompClient.send("/request/getDeposits/player", { priority: 1 }, playerId);
			} else {
				alert("Please make sure you have chosen the Player Id, then please try again.");
			}
		}

		function updateAllDepositsHTML(json) {
			var playersList = document.getElementById("players-filter");
			var allDepositsList = document.getElementById("allDepositsList");
			var allDepositsListHeader = document.getElementById("allDepositsListHeader");
			var total = document.getElementById('total');
			playersList.innerHTML = "";
			allDepositsList.innerHTML = "";
			allDepositsListHeader.innerHTML = "";
			total.innerHTML = "";

			var players = [];
			var deposits = [];

			var depositsTotal = document.createElement("h4");
			depositsTotal.textContent = "Total : " + json.total;
			total.appendChild(depositsTotal);

			var trHead = document.createElement("tr");

			var th = document.createElement('th');
			th.style = "min-width:65px;";
			var th1 = document.createElement('th');
			th1.style = "min-width:70px;";
			var th2 = document.createElement('th');
			th2.style = "min-width:70px;";

			th.innerText = "Player";
			th1.innerText = "Deposit";
			th2.innerText = "Timestamp";

			trHead.appendChild(th);
			trHead.appendChild(th1);
			trHead.appendChild(th2);

			allDepositsListHeader.appendChild(trHead);

			for (var i = 0; i < json.depositEvents.length; i++) {

				if (!players.includes(json.depositEvents[i].playerId)) {
					var option = document.createElement("option");
					option.textContent = json.depositEvents[i].playerId;
					option.setAttribute("value", json.depositEvents[i].playerId);
					playersList.appendChild(option);
					players.push(json.depositEvents[i].playerId);
				}

				var tr = document.createElement("tr");
				var td = document.createElement("td");
				var td1 = document.createElement("td");
				var td2 = document.createElement("td");

				td.textContent = json.depositEvents[i].playerId;
				td1.textContent = json.depositEvents[i].deposit;
				td2.textContent = json.depositEvents[i].timestamp;

				tr.appendChild(td);
				tr.appendChild(td1);
				tr.appendChild(td2);

				allDepositsList.appendChild(tr);
			}
		}

		function updateDepositsForPlayerHTML(json) {
			var thead = document.getElementById('playerDepositsListHeader');
			thead.innerHTML = "";

			var totalPerPlayer = document.getElementById('totalPerPlayer');
			totalPerPlayer.innerHTML = "";

			var th1 = document.createElement("th");
			var th2 = document.createElement("th");

			th1.textContent = "Deposit";
			th1.style = "min-width:70px";

			th2.textContent = "Timestamp";
			th2.style = "min-width:70px";

			thead.appendChild(th1);
			thead.appendChild(th2);

			var playerDepositsList = document.getElementById("playerDepositsList");
			playerDepositsList.innerHTML = "";

			var playerTotal = document.createElement("h4");
			playerTotal.textContent = "Total : " + json.total;
			totalPerPlayer.appendChild(playerTotal);

			for (var i = 0; i < json.depositEvents.length; i++) {
				var tr = document.createElement("tr");
				var td = document.createElement("td");
				var td1 = document.createElement("td");

				td.textContent = json.depositEvents[i].deposit;
				td1.textContent = json.depositEvents[i].timestamp;
				tr.appendChild(td);
				tr.appendChild(td1);
				playerDepositsList.appendChild(tr);
			}
		}

	</script>
	<style>
		.jumbotron {
			padding-top: 20px !important;
			padding-right: 20px !important;
    		padding-left: 30px !important;
		}
	</style>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-inverse" style="background-color: #343a40 !important;">
			<div class="container-fluid">
				<div class="navbar-header" style="display: flex; flex-direction: row">
					<!-- <h2 style="text-decoration: none; color: rgb(162, 162, 162);">Playtech</h2> -->
					<img src="https://www.casinoreviewer.org/wp-content/uploads/2017/04/playtech-550-x-225.jpg" class="logo-img" style="width:30%; height: 80%;"
					/>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li style="color:whitesmoke" id="connectionStatus"></li>
				</ul>
			</div>
		</nav>
		<div class="jumbotron">
			<h1>Player Deposit Bookkeeper App</h1>
			<p>Bookkepper Notes</p>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="jumbotron" style="min-height: 50vh; max-height: 50vh;">
					<div class="columnHeaderDiv">
						<h3 class="columnHeader">All Deposits</h3>
						<div id="total">

						</div>
					</div>
					<div style="overflow-y:auto; max-height: 26vh;  min-width: 37vh;">
						<table> 
							<thead id="allDepositsListHeader">

							</thead>
							<tbody class="depositList" id="allDepositsList">
							
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="jumbotron" style="min-height: 50vh; max-height: 50vh;">
					<div class="columnHeaderDiv">
						<h3 class="columnHeader">
							Player
							<span>
								<select id="players-filter" class="filterSt">
									<option value="">id</option>
								</select>
							</span>
							Deposits
						</h3>
						<div id="totalPerPlayer">

						</div>
						<button onclick="requestDepositsAndTotalForPlayer()">Retreive</button>
					</div>
					<div style="overflow-y:auto; max-height:21vh;">
						<table>
							<thead id="playerDepositsListHeader">

							</thead>
							<tbody class="depositList" id="playerDepositsList" style="margin-top: 15px; min-width: 30vh;">

							</tbody>
						</table>
					</div>
				</div>	
			</div>
			<div class="col-sm-4">
				<div class="jumbotron" style="min-height: 50vh; max-height: 50vh;">
					<div class="columnHeaderDiv">
						<h3 class="columnHeader">Make Deposit</h3>
					</div>
					<div class="depositList">
						<input type="text" placeholder="Player Id" id="playerIdInput" />
						<input type="text" placeholder="Deposit Amount" id="depositAmount" />
						<button onclick="makeDeposit()" id="submitDeposit">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>